{% extends "layout.html" %}
{% block content %}

  </br></br></br>

  {% for link in links %}
    <iframe  width=320 height=242 style="margin-left:9vw; margin-bottom:5vw; z-index:-1"
        src="{{link.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <a class="btn btn-danger my-0 my-sm-0" style="width:40; position:absolute;margin-right: 5.5vw " href="{{ url_for('remove', link= link.link ) }}" >X</a>

 {% endfor %}
<!--   bottom     -->

{% endblock %}
